/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Parent Level Styles */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header, main {
    margin: 0 auto;
    max-width: 1024px;
    width: 90vw;
}
img {
    width: 100%;
}
p, a {
    font-size: small;
}
a {
    text-decoration: none;
}

/* Heading Styles */

#heading {
    align-items: center;
    display: flex;
    height: 45vw;
    max-height: 512px;
}
#heading-details {
    order: 1;
    margin-right: 10%;
    width: 50%;
}
#heading-details a {
    background-color: #e02c6d;
    border-radius: 25px;
    color: #ffffff;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
}
.fa-arrow-right {
    margin-left: 10px;
}
#heading-image {
    background-image: url(../images/circle-design.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    order: 2;
    padding: 1%;
    width: 40%;
}