/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* Parent Level and Common Styles */

body, .collection > p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header, main {
    margin: 0 auto;
    max-width: 1024px;
    width: 90vw;
}
#nav-container, #nav-container > div, #heading, .ratings, #special-offer {
    display: flex;
}
img {
    width: 100%;
}
p, a {
    font-size: small;
}
a {
    text-decoration: none;
}
#heading-details a, footer, #icons > a, #so-details > a {
    color: #ffffff;
}

/* Nav Container Styles */

#nav-container {
    align-items: end;
    height: 100px;
    justify-content: space-between;
}
#nav-container > h3 {
    margin: 0;
}
nav > a, nav > span {
    color:  #000000;
    margin-right: 30px;
}
#nav-container i {
    font-size: 20px;
}

/* Heading Styles */

#heading {
    align-items: center;
    height: 45vw;
    max-height: 512px;
}
#heading-details {
    order: 1;
    margin-right: 10%;
    width: 50%;
}
#heading-details a, #so-details > a {
    background-color: #EE82EE;
    border-radius: 25px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
}
.fa-arrow-right {
    margin-left: 10px;
}
#heading-image {
    background-image: url(../images/circle-design.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    order: 2;
    padding: 1%;
    width: 40%;
}

/* Collection Styles */

h3, footer {
    text-align: center;
}
#collection-container {
    display: grid;
    gap: 2.5vw;
    grid-template-columns: repeat(3, 1fr);
}
.collection {
    border-radius: 5px;
    box-shadow: 0 0 10px #C0C0C0;
    padding: 15px;
}
.collection > h3 {
    text-align: left;
}
.collection p:not(.price, .stars) {
    color: #808080;
}
.price {
    font-size: large;
}
.stars {
    color: #EE82EE;
    width: 35%;
}
#see-more {
    color: #EE82EE;
    display: block;
    font-size: large;
    font-weight: 600;
    margin-top: 50px;
    text-align: right;
}

/* Special Offer Styles */

#special-offer {
    margin: 100px 0;
}
#so-image {
    width: 40%;
}
#so-details {
    margin-left: 10%;
    width: 50%;
}

/* Footer Styles */

footer {
    background-color: #0a0826;
    margin: 50px 0 0;
    padding: 50px 0;
}
footer > p {
    margin: 0 0 5px;
}
#icons {
    margin-top: 20px;
}
#icons > a {
    background-color: #211b7e;
    border-radius: 50%;
    display: inline-block;
    font-size: large;
    margin: 0 5px;
    padding: 5px 10px;
}